python-client/src/arakawa/resources/view_resources/full_schema.rnc

# This schema currently covers all view states - eventually to be split out to handle all substates
# (want to delay splitting out as long as possible for simplicities sake)
# NOTES:
# - we don't allow mixed-mode content right now, e.g. char data along with nested elements
#   instead text nodes must be leaf nodes
# - using <xsl:strip-space/> simply removes all white-space only nodes, including space between node and nested node
#   which would be mixed-mode and isn't allowed by schema anyway
# - whitespace otherwise is preserved inside nodes, e.g. Code blocks, without requireing CDATA - CDATA is purely for escaping
#   see https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/ms256144(v=vs.100)
# NOTE - the .rng file is autogenerated using the `trang` java tool
# run `java -jar /path/to/trang.jar full_schema.rnc full_schema.rng`
#default namespace = "https://datapane.com/view"

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

start = element View {
  attribute fragment { xsd:boolean },
  attribute version { xsd:positiveInteger },
  # do we want Internal here just-in-case??
  Block+
}


################################################################################
# Internal fields, used when modifying the internal report structure
# TODO - do we need this??
Internal = element Internal {
  empty
  # id_count used to track free variables count
  # attribute id_count { xsd:nonNegativeInteger }
}


################################################################################
# Main Report Tree
#Pages = element Pages {
#  attribute layout { string "top" | string "side" }?,
#  Page+
#}

# name is optional generally, can be user-defined, used for referencing
block_name = attribute name { xsd:ID }
block_label = attribute label { xsd:string { minLength = "1" maxLength = "256" } }
block_label_or_name = block_name?, block_label?


# Pages don't have id's or name's - as can't be extracted to be displayed elsewhere
# Pages have an implict single column
#Page = element Page {
#  block_label_or_name, Block+
#}

Block = LayoutBlock | DataBlock | Compute | ControlBlock | Empty

# Used to describe a Placeholder element we can patch - like empty div in HTML
Empty = element Empty {
  block_name
}

################################################################################
# NOTE - we could add Grid, Columns, etc. here
LayoutBlock = Group | Select | Toggle

Select = element Select {
  block_label_or_name,
  attribute type { string "dropdown" | string "tabs" }?,
  # Selects used to require at least 2 elements (for Reports), with Apps this has been relaxed
  Block*
}

Group = element Group {
  block_label_or_name,

  [ a:defaultValue = "1" ]
  attribute columns { xsd:nonNegativeInteger },
  # widths is a json list of ints
  attribute widths { xsd:string { minLength = "2" pattern = "\[\d+(,\s*\d+)*\]" } }?,
  attribute valign { string "top" | string "center" | string "bottom" },

  Block*
}

Toggle = element Toggle {
  block_label_or_name,
  Block
}

################################################################################

Compute = element Compute {
  block_label_or_name,

  attribute method { string "POST" | string "GET" },
  # optional attributes
  attribute action { xsd:string }?,
  attribute subtitle { xsd:string { minLength = "1" maxLength = "255" } }?,
  attribute prompt { xsd:string { minLength = "1" maxLength = "127" } }?,

  Block*
}

################################################################################
# Controls
DateTime = element DateTime {
  block_label_or_name,

  # optional attributes
  attribute initial { xsd:string }?,
  attribute required { xsd:boolean }?
}

Date = element Date {
  block_label_or_name,

  # optional attributes
  attribute initial { xsd:string }?,
  attribute required { xsd:boolean }?
}

Time = element Time {
  block_label_or_name,

  # optional attributes
  attribute initial { xsd:string }?,
  attribute required { xsd:boolean }?
}

File = element File {
  block_label_or_name,

  # optional attributes
  attribute required { xsd:boolean }?
}

MultiChoice = element MultiChoice {
  block_label_or_name,

  attribute initial { list { xsd:string+ } },
  attribute options { list { xsd:string+ } },

  # optional attributes
  attribute required { xsd:boolean }?
}

NumberBox = element NumberBox {
  block_label_or_name,

  # optional attributes
  attribute initial { xsd:decimal }?,
  attribute required { xsd:boolean }?
}

Range = element Range {
  block_label_or_name,

  attribute min { xsd:decimal },
  attribute max { xsd:decimal },
  attribute step { xsd:decimal },
  # optional attributes
  attribute initial { xsd:decimal }?,
  attribute required { xsd:boolean }?
}

Choice = element Choice {
  block_label_or_name,

  attribute options { list { xsd:string+ } },
  # optional attributes
  attribute initial { xsd:string }?,
  attribute required { xsd:boolean }?
}

Switch = element Switch {
  block_label_or_name,

  attribute initial { xsd:boolean }?
}

Tags = element Tags {
  block_label_or_name,

  attribute initial { list { xsd:string+ } },
  # optional attributes
  attribute required{ xsd:boolean }?
}

TextBox = element TextBox {
  block_label_or_name,

  # optional attributes
  attribute initial { xsd:string }?,
  attribute required{ xsd:boolean }?
}

ControlBlock = DateTime | Date | Time | File | MultiChoice | NumberBox | Range | Choice | Switch | Tags | TextBox

################################################################################
DataBlock = EmbeddedTextBlock | AssetBlock | BigNumber

EmbeddedTextBlock = Text | HTML | Code | Embed | Formula

AssetBlock = Attachment | Media | Plot | Table | DataTable

################################################################################
# misc
opt_caption = attribute caption { xsd:string { minLength = "1" maxLength = "512" } }?


################################################################################
# EmbeddedTextBlocks
# Markdown Text
Text = element Text {
  block_label_or_name,
  xsd:string { minLength = "1" pattern = "(.|\s)*\S(.|\s)*" }
}

HTML = element HTML {
  block_label_or_name,
  xsd:string { minLength = "1" }
}

Code = element Code {
  block_label_or_name,
  attribute language { xsd:string { minLength = "1" maxLength = "127" } },
  opt_caption,
  xsd:string { minLength = "1" }
}

Embed = element Embed {
  block_label_or_name,
  attribute url { xsd:anyURI },
  attribute title { xsd:string { minLength = "1" maxLength = "255" } },
  attribute provider_name { xsd:string { minLength = "1" maxLength = "127" } },
  # TODO - make optional?
  xsd:string { minLength = "1" }
}

Formula = element Formula {
  block_label_or_name,
  opt_caption,
  xsd:string { minLength = "1" }
}

BigNumber = element BigNumber {
  block_label_or_name,
  attribute heading { xsd:string { minLength = "1" maxLength = "127" } },
  attribute value { xsd:string { minLength = "1" maxLength = "127" } },

  # optional attributes
  attribute change { xsd:string { minLength = "1" maxLength = "127" } }?,
  attribute prev_value { xsd:string { minLength = "1" maxLength = "127" } }?,
  attribute is_positive_intent { xsd:boolean }?,
  attribute is_upward_change { xsd:boolean }?
}

################################################################################
# AssetBlocks

# These are dervived from the attached asset file and not set by the user
staticAssetAttributes =
  attribute cas_ref { xsd:string { pattern = "[0-9a-f]{64}" } } ?,
  attribute type { xsd:string { pattern = '\w+/[\w.+\-]+' } },
  # attribute size { xsd:positiveInteger },
  # attribute hash { xsd:string { pattern = "[0-9a-f]{10}" } },
  attribute uploaded_filename { xsd:string { maxLength = "127" } } ?

commonAttributes =
  # Do we need ref also?
  block_label_or_name,
  opt_caption,
  attribute src { xsd:anyURI { pattern = "((attachment|http|https|file|data|ref|cas):|/).+"} }


Media = element Media {
  staticAssetAttributes?,
  commonAttributes
  }

# Additional atrtibutes (and Type tag) per Asset type, these can be set by the user
Attachment = element Attachment {
  staticAssetAttributes?,
  commonAttributes,
  attribute filename { xsd:string { minLength = "1" maxLength = "127" } }
  }

Plot = element Plot {
  staticAssetAttributes?,
  commonAttributes,

  [ a:defaultValue = "1.0" ]
  attribute scale { xsd:decimal { minExclusive = "0" } },

  [ a:defaultValue = "true" ]
  attribute responsive { xsd:boolean}
}

Table = element Table {
  staticAssetAttributes?,
  commonAttributes
}

DataTable = element DataTable {
  staticAssetAttributes?,
  commonAttributes,
  # these assets are applied during renderable
  attribute rows { xsd:positiveInteger }?,
  attribute columns { xsd:positiveInteger }?,
  attribute schema { xsd:string { minLength = "1" } }?
  # attribute cells { xsd:positiveInteger }
}
